//
//  Config-Demo.release.xcconfig
//  FTSDKDemo
//
//  Created by hulilei on 2023/8/9.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Import the corresponding .xcconfig for pod
#include "Pods/Target Support Files/Pods-FTSDKDemo/Pods-FTSDKDemo.release.xcconfig"

SDK_APP_ID = "app_id_prod"
// In URL // you need to add $()
SDK_DATAKIT_ADDRESS = http:/$()/xxxxxxxx:9529
SDK_ENV = prod
SDK_DATAWAY_TOKEN = token

