//
//  Config-Demo.release.xcconfig
//  GuanceDemo
//
//  Created by hulilei on 2023/8/9.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// 导入 pod 对应的 .xcconfig
#include "Pods/Target Support Files/Pods-GuanceDemo/Pods-GuanceDemo.release.xcconfig"

SDK_APP_ID = "app_id_prod"
// URL // 中需要添加 $()
SDK_DATAKIT_ADDRESS = http:/$()/xxxxxxxx:9529
SDK_ENV = prod
SDK_DATAWAY_TOKEN = token

