<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>province</key>
		<string>北京</string>
		<key>citys</key>
		<array>
			<dict>
				<key>city</key>
				<string>北京市</string>
				<key>districts</key>
				<array>
					<string>东城区</string>
					<string>西城区</string>
					<string>崇文区</string>
					<string>宣武区</string>
					<string>朝阳区</string>
					<string>丰台区</string>
					<string>石景山区</string>
					<string>海淀区</string>
					<string>门头沟区</string>
					<string>房山区</string>
					<string>通州区</string>
					<string>顺义区</string>
					<string>昌平区</string>
					<string>大兴区</string>
					<string>怀柔区</string>
					<string>平谷区</string>
					<string>密云县</string>
					<string>延庆县</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>province</key>
		<string>天津</string>
		<key>citys</key>
		<array>
			<dict>
				<key>city</key>
				<string>天津市</string>
				<key>districts</key>
				<array>
					<string>和平区</string>
					<string>河东区</string>
					<string>河西区</string>
					<string>南开区</string>
					<string>河北区</string>
					<string>红桥区</string>
					<string>塘沽区</string>
					<string>汉沽区</string>
					<string>大港区</string>
					<string>东丽区</string>
					<string>西青区</string>
					<string>津南区</string>
					<string>北辰区</string>
					<string>武清区</string>
					<string>宝坻区</string>
					<string>宁河县</string>
					<string>静海县</string>
					<string>蓟县</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>province</key>
		<string>上海</string>
		<key>citys</key>
		<array>
			<dict>
				<key>city</key>
				<string>上海市</string>
				<key>districts</key>
				<array>
					<string>黄浦区</string>
					<string>卢湾区</string>
					<string>徐汇区</string>
					<string>长宁区</string>
					<string>静安区</string>
					<string>普陀区</string>
					<string>闸北区</string>
					<string>虹口区</string>
					<string>杨浦区</string>
					<string>闵行区</string>
					<string>宝山区</string>
					<string>嘉定区</string>
					<string>浦东新区</string>
					<string>金山区</string>
					<string>松江区</string>
					<string>青浦区</string>
					<string>南汇区</string>
					<string>奉贤区</string>
					<string>崇明县</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>province</key>
		<string>重庆</string>
		<key>citys</key>
		<array>
			<dict>
				<key>city</key>
				<string>重庆市</string>
				<key>districts</key>
				<array>
					<string>重庆</string>
					<string>万州区</string>
					<string>涪陵区</string>
					<string>渝中区</string>
					<string>大渡口区</string>
					<string>江北区</string>
					<string>沙坪坝区</string>
					<string>九龙坡区</string>
					<string>南岸区</string>
					<string>北碚区</string>
					<string>万盛区</string>
					<string>双桥区</string>
					<string>渝北区</string>
					<string>巴南区</string>
					<string>黔江区</string>
					<string>长寿区</string>
					<string>綦江县</string>
					<string>潼南县</string>
					<string>铜梁县</string>
					<string>大足县</string>
					<string>荣昌县</string>
					<string>璧山县</string>
					<string>梁平县</string>
					<string>城口县</string>
					<string>丰都县</string>
					<string>垫江县</string>
					<string>武隆县</string>
					<string>忠县</string>
					<string>开县</string>
					<string>云阳县</string>
					<string>奉节县</string>
					<string>巫山县</string>
					<string>巫溪县</string>
					<string>石柱土家族自治县</string>
					<string>秀山土家族苗族自治县</string>
					<string>酉阳土家族苗族自治县</string>
					<string>彭水苗族土家族自治县</string>
					<string>江津</string>
					<string>合川</string>
					<string>永川</string>
					<string>南川</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>province</key>
		<string>河北省</string>
		<key>citys</key>
		<array>
			<dict>
				<key>city</key>
				<string>石家庄市</string>
				<key>districts</key>
				<array>
					<string>长安区</string>
					<string>桥东区</string>
					<string>桥西区</string>
					<string>新华区</string>
					<string>井陉矿区</string>
					<string>裕华区</string>
					<string>井陉县</string>
					<string>正定县</string>
					<string>栾城县</string>
					<string>行唐县</string>
					<string>灵寿县</string>
					<string>高邑县</string>
					<string>深泽县</string>
					<string>赞皇县</string>
					<string>无极县</string>
					<string>平山县</string>
					<string>元氏县</string>
					<string>赵县</string>
					<string>辛集</string>
					<string>藁城</string>
					<string>晋州</string>
					<string>新乐</string>
					<string>鹿泉</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>唐山市</string>
				<key>districts</key>
				<array>
					<string>路南区</string>
					<string>路北区</string>
					<string>古冶区</string>
					<string>开平区</string>
					<string>丰南区</string>
					<string>丰润区</string>
					<string>滦县</string>
					<string>滦南县</string>
					<string>乐亭县</string>
					<string>迁西县</string>
					<string>玉田县</string>
					<string>唐海县</string>
					<string>遵化</string>
					<string>迁安</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>秦皇岛市</string>
				<key>districts</key>
				<array>
					<string>海港区</string>
					<string>山海关区</string>
					<string>戴河区</string>
					<string>青龙满族自治县</string>
					<string>昌黎县</string>
					<string>抚宁县</string>
					<string>卢龙县</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>邯郸市</string>
				<key>districts</key>
				<array>
					<string>邯山区</string>
					<string>丛台区</string>
					<string>复兴区</string>
					<string>峰峰矿区</string>
					<string>邯郸县</string>
					<string>临漳县</string>
					<string>成安县</string>
					<string>大名县</string>
					<string>涉县</string>
					<string>磁县</string>
					<string>肥乡县</string>
					<string>永年县</string>
					<string>邱县</string>
					<string>鸡泽县</string>
					<string>广平县</string>
					<string>馆陶县</string>
					<string>魏县</string>
					<string>曲周县</string>
					<string>武安</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>邢台市</string>
				<key>districts</key>
				<array>
					<string>桥东区</string>
					<string>桥西区</string>
					<string>邢台县</string>
					<string>临城县</string>
					<string>内丘县</string>
					<string>柏乡县</string>
					<string>隆尧县</string>
					<string>任县</string>
					<string>南和县</string>
					<string>宁晋县</string>
					<string>巨鹿县</string>
					<string>新河县</string>
					<string>广宗县</string>
					<string>平乡县</string>
					<string>威县</string>
					<string>清河县</string>
					<string>临西县</string>
					<string>南宫</string>
					<string>沙河</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>保定市</string>
				<key>districts</key>
				<array>
					<string>新区</string>
					<string>北区</string>
					<string>南区</string>
					<string>满城县</string>
					<string>清苑县</string>
					<string>涞水县</string>
					<string>阜平县</string>
					<string>徐水县</string>
					<string>定兴县</string>
					<string>唐县</string>
					<string>高阳县</string>
					<string>容城县</string>
					<string>涞源县</string>
					<string>望都县</string>
					<string>安新县</string>
					<string>易县</string>
					<string>曲阳县</string>
					<string>蠡县</string>
					<string>顺平县</string>
					<string>博野县</string>
					<string>雄县</string>
					<string>涿州</string>
					<string>定州</string>
					<string>安国</string>
					<string>高碑店</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>张家口市</string>
				<key>districts</key>
				<array>
					<string>桥东区</string>
					<string>桥西区</string>
					<string>宣化区</string>
					<string>下花园区</string>
					<string>宣化县</string>
					<string>张北县</string>
					<string>康保县</string>
					<string>沽源县</string>
					<string>尚义县</string>
					<string>蔚县</string>
					<string>阳原县</string>
					<string>怀安县</string>
					<string>万全县</string>
					<string>怀来县</string>
					<string>涿鹿县</string>
					<string>赤城县</string>
					<string>崇礼县</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>承德市</string>
				<key>districts</key>
				<array>
					<string>双桥区</string>
					<string>双滦区</string>
					<string>鹰手营子矿区</string>
					<string>承德县</string>
					<string>兴隆县</string>
					<string>平泉县</string>
					<string>滦平县</string>
					<string>隆化县</string>
					<string>丰宁满族自治县</string>
					<string>宽城满族自治县</string>
					<string>围场满族蒙古族自治县</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>沧州市</string>
				<key>districts</key>
				<array>
					<string>新华区</string>
					<string>运河区</string>
					<string>沧县</string>
					<string>青县</string>
					<string>东光县</string>
					<string>海兴县</string>
					<string>盐山县</string>
					<string>肃宁县</string>
					<string>南皮县</string>
					<string>吴桥县</string>
					<string>献县</string>
					<string>孟村回族自治县</string>
					<string>泊头</string>
					<string>任丘</string>
					<string>黄骅</string>
					<string>河间</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>廊坊市</string>
				<key>districts</key>
				<array>
					<string>安次区</string>
					<string>广阳区</string>
					<string>固安县</string>
					<string>永清县</string>
					<string>香河县</string>
					<string>大城县</string>
					<string>文安县</string>
					<string>大厂回族自治县</string>
					<string>霸州</string>
					<string>三河</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>衡水市</string>
				<key>districts</key>
				<array>
					<string>桃城区</string>
					<string>枣强县</string>
					<string>武邑县</string>
					<string>武强县</string>
					<string>饶阳县</string>
					<string>安平县</string>
					<string>故城县</string>
					<string>景县</string>
					<string>阜城县</string>
					<string>冀州</string>
					<string>深州</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>province</key>
		<string>山西省</string>
		<key>citys</key>
		<array>
			<dict>
				<key>city</key>
				<string>太原市</string>
				<key>districts</key>
				<array>
					<string>小店区</string>
					<string>迎泽区</string>
					<string>杏花岭区</string>
					<string>尖草坪区</string>
					<string>万柏林区</string>
					<string>晋源区</string>
					<string>清徐县</string>
					<string>阳曲县</string>
					<string>娄烦县</string>
					<string>古交</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>大同市</string>
				<key>districts</key>
				<array>
					<string>城区</string>
					<string>南郊区</string>
					<string>新荣区</string>
					<string>阳高县</string>
					<string>天镇县</string>
					<string>广灵县</string>
					<string>灵丘县</string>
					<string>浑源县</string>
					<string>左云县</string>
					<string>大同县</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>阳泉市</string>
				<key>districts</key>
				<array>
					<string>城区</string>
					<string>矿区</string>
					<string>郊区</string>
					<string>平定县</string>
					<string>盂县</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>长治市</string>
				<key>districts</key>
				<array>
					<string>城区</string>
					<string>郊区</string>
					<string>长治县</string>
					<string>襄垣县</string>
					<string>屯留县</string>
					<string>平顺县</string>
					<string>黎城县</string>
					<string>壶关县</string>
					<string>长子县</string>
					<string>武乡县</string>
					<string>沁县</string>
					<string>沁源县</string>
					<string>潞城</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>晋城市</string>
				<key>districts</key>
				<array>
					<string>城区</string>
					<string>沁水县</string>
					<string>阳城县</string>
					<string>陵川县</string>
					<string>泽州县</string>
					<string>高平</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>朔州市</string>
				<key>districts</key>
				<array>
					<string>朔城区</string>
					<string>平鲁区</string>
					<string>山阴县</string>
					<string>应县</string>
					<string>右玉县</string>
					<string>怀仁县</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>晋中市</string>
				<key>districts</key>
				<array>
					<string>榆次区</string>
					<string>榆社县</string>
					<string>左权县</string>
					<string>和顺县</string>
					<string>昔阳县</string>
					<string>寿阳县</string>
					<string>太谷县</string>
					<string>祁县</string>
					<string>平遥县</string>
					<string>灵石县</string>
					<string>介休</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>运城市</string>
				<key>districts</key>
				<array>
					<string>盐湖区</string>
					<string>临猗县</string>
					<string>万荣县</string>
					<string>闻喜县</string>
					<string>稷山县</string>
					<string>新绛县</string>
					<string>绛县</string>
					<string>垣曲县</string>
					<string>夏县</string>
					<string>平陆县</string>
					<string>芮城县</string>
					<string>永济</string>
					<string>河津</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>忻州市</string>
				<key>districts</key>
				<array>
					<string>忻府区</string>
					<string>定襄县</string>
					<string>五台县</string>
					<string>代县</string>
					<string>繁峙县</string>
					<string>宁武县</string>
					<string>静乐县</string>
					<string>神池县</string>
					<string>五寨县</string>
					<string>岢岚县</string>
					<string>河曲县</string>
					<string>保德县</string>
					<string>偏关县</string>
					<string>原平</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>临汾市</string>
				<key>districts</key>
				<array>
					<string>尧都区</string>
					<string>曲沃县</string>
					<string>翼城县</string>
					<string>襄汾县</string>
					<string>洪洞县</string>
					<string>古县</string>
					<string>安泽县</string>
					<string>浮山县</string>
					<string>吉县</string>
					<string>乡宁县</string>
					<string>大宁县</string>
					<string>隰县</string>
					<string>永和县</string>
					<string>蒲县</string>
					<string>汾西县</string>
					<string>侯马</string>
					<string>霍州</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>吕梁市</string>
				<key>districts</key>
				<array>
					<string>离石区</string>
					<string>文水县</string>
					<string>交城县</string>
					<string>兴县</string>
					<string>临县</string>
					<string>柳林县</string>
					<string>石楼县</string>
					<string>岚县</string>
					<string>方山县</string>
					<string>中阳县</string>
					<string>交口县</string>
					<string>孝义</string>
					<string>汾阳</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>province</key>
		<string>内蒙古</string>
		<key>citys</key>
		<array>
			<dict>
				<key>city</key>
				<string>呼和浩特市</string>
				<key>districts</key>
				<array>
					<string>新城区</string>
				<string>回民区</string>
				<string>玉泉区</string>
				<string>赛罕区</string>
				<string>土默特左旗</string>
				<string>托克托县</string>
				<string>和林格尔县</string>
				<string>清水河县</string>
				<string>武川县</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>包头市</string>
				<key>districts</key>
				<array>
					<string>东河区</string>
				<string>昆都仑区</string>
				<string>青山区</string>
				<string>石拐区</string>
				<string>白云矿区</string>
				<string>九原区</string>
				<string>土默特右旗</string>
				<string>固阳县</string>
				<string>达尔罕茂明安联合旗</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>乌海市</string>
				<key>districts</key>
				<array>
					<string>海勃湾区</string>
				<string>海南区</string>
				<string>乌达区</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>赤峰市</string>
				<key>districts</key>
				<array>
					<string>红山区</string>
				<string>元宝山区</string>
				<string>松山区</string>
				<string>阿鲁科尔沁旗</string>
				<string>巴林左旗</string>
				<string>巴林右旗</string>
				<string>林西县</string>
				<string>克什克腾旗</string>
				<string>翁牛特旗</string>
				<string>喀喇沁旗</string>
				<string>宁城县</string>
				<string>敖汉旗</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>通辽市</string>
				<key>districts</key>
				<array>
					<string>科尔沁区</string>
				<string>科尔沁左翼中旗</string>
				<string>科尔沁左翼后旗</string>
				<string>开鲁县</string>
				<string>库伦旗</string>
				<string>奈曼旗</string>
				<string>扎鲁特旗</string>
				<string>霍林郭勒</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>鄂尔多斯</string>
				<key>districts</key>
				<array>
					<string>东胜区</string>
				<string>达拉特旗</string>
				<string>准格尔旗</string>
				<string>鄂托克前旗</string>
				<string>鄂托克旗</string>
				<string>杭锦旗</string>
				<string>乌审旗</string>
				<string>伊金霍洛旗</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>呼伦贝尔</string>
				<key>districts</key>
				<array>
					<string>海拉尔区</string>
				<string>阿荣旗</string>
				<string>莫力达瓦达斡尔族自治旗</string>
				<string>鄂伦春自治旗</string>
				<string>鄂温克族自治旗</string>
				<string>陈巴尔虎旗</string>
				<string>新巴尔虎左旗</string>
				<string>新巴尔虎右旗</string>
				<string>满洲里</string>
				<string>牙克石</string>
				<string>扎兰屯</string>
				<string>额尔古纳</string>
				<string>根河</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>巴彦淖尔</string>
				<key>districts</key>
				<array>
					<string>临河区</string>
				<string>五原县</string>
				<string>磴口县</string>
				<string>乌拉特前旗</string>
				<string>乌拉特中旗</string>
				<string>乌拉特后旗</string>
				<string>杭锦后旗</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>乌兰察布</string>
				<key>districts</key>
				<array>
					<string>集宁区</string>
				<string>卓资县</string>
				<string>化德县</string>
				<string>商都县</string>
				<string>兴和县</string>
				<string>凉城县</string>
				<string>察哈尔右翼前旗</string>
				<string>察哈尔右翼中旗</string>
				<string>察哈尔右翼后旗</string>
				<string>四子王旗</string>
				<string>丰镇</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>兴安盟</string>
				<key>districts</key>
				<array>
					<string>乌兰浩特</string>
				<string>阿尔山</string>
				<string>科尔沁右翼前旗</string>
				<string>科尔沁右翼中旗</string>
				<string>扎赉特旗</string>
				<string>突泉县</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>锡林郭勒</string>
				<key>districts</key>
				<array>
					<string>二连浩特</string>
				<string>锡林浩特</string>
				<string>阿巴嘎旗</string>
				<string>苏尼特左旗</string>
				<string>苏尼特右旗</string>
				<string>东乌珠穆沁旗</string>
				<string>西乌珠穆沁旗</string>
				<string>太仆寺旗</string>
				<string>镶黄旗</string>
				<string>正镶白旗</string>
				<string>正蓝旗</string>
				<string>多伦县</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>阿拉善盟</string>
				<key>districts</key>
				<array>
					<string>阿拉善左旗</string>
				<string>阿拉善右旗</string>
				<string>额济纳旗</string>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
