//
//  Config-Demo.pre.xcconfig
//  GuanceDemo
//
//  Created by hulilei on 2023/8/10.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Pods/Target Support Files/Pods-GuanceDemo/Pods-GuanceDemo.pre.xcconfig"

SDK_APP_ID = "app_id_pre"
SDK_DATAKIT_ADDRESS = http:\$()\xxxxxxxx:9529
SDK_ENV = pre
SDK_DATAWAY_TOKEN = token
