//
//  Config-Demo.develop.xcconfig
//  GuanceDemo
//
//  Created by hulilei on 2023/8/9.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Pods/Target Support Files/Pods-GuanceDemo/Pods-GuanceDemo.debug.xcconfig"

SDK_APP_ID = "app_id_common"
SDK_DATAKIT_ADDRESS = http:\$()\xxxxxxxx:9529
SDK_ENV = common
SDK_DATAWAY_TOKEN = token
