//
//  Config-Demo.release.xcconfig
//  GuanceDemo
//
//  Created by hulilei on 2023/8/9.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Pods/Target Support Files/Pods-GuanceDemo/Pods-GuanceDemo.release.xcconfig"

SDK_APP_ID = "app_id_prod"
SDK_DEA_ADDRESS = http:\$()\xxxxxxxx:9531
SDK_ENV = prod
