library/
temp/
profiles/
build/
native/
extensions/
cocos-sdk-native/
node_modules/
assets/guance-cocos-sdk/
assets/guance-cocos-sdk.meta
artifacts/
*.local.json
settings/v2/packages/information.json
!package-lock.json
