<!DOCTYPE html>
<html>
 <head>
  <title>
   Demo Address Import
  </title>
  <style>
   /* Basic styles for input boxes */
        input[type="text"],
        input[type="email"],
        input[type="password"],
        textarea {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            width: 300px;
            margin-bottom: 10px;
        }

        /* Custom styles when input box is focused */
        input[type="text"]:focus,
        input[type="email"]:focus,
        input[type="password"]:focus,
        textarea:focus {
            outline: none;
            border-color: #5c9ce6;
            box-shadow: 0 0 5px #5c9ce6;
        }

        /* Styles for placeholder text */
        ::placeholder {
            color: #999;
            font-style: italic;
        }

        /* Bold text in <label> tags */
        label {
            font-weight: bold;
            word-wrap: break-word;
            word-break: break-all;
        }
  </style>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <meta content="width=device-width,initial-scale=1,user-scalable=no" name="viewport"/>
  <!-- Script sources -->
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='qrcode.min.js') }}"></script>
 </head>
 <body>
  <label>
   Choose Access Type:
  </label>
  <br/>
  <input type="radio" id="datakit-radio" name="config-type" value="datakit" checked>
  <label for="datakit-radio">Local Deployment (Datakit)</label>
  <input type="radio" id="dataway-radio" name="config-type" value="dataway">
  <label for="dataway-radio">Public Dataway Deployment</label>

  <br/><br/>

  <!-- Dataway Fields -->
  <div id="dataway-fields" style="display:none;">
    <label>
      Dataway Address：
    </label>
    <br/>
    <input id="dataway-address-input" style="width:60%" type="text" value="http://10.100.64.166:9528"/>
    <br/>
    <label>
      Dataway Client Token：
    </label>
    <br/>
    <input id="dataway-client-token-input" style="width:60%" type="text" value="[Dataway Client Token]"/>
    <br/>
  </div>

  <!-- Datakit Fields -->
  <div id="datakit-fields" >
    <label>
      Datakit Address：
    </label>
    <br/>
    <input id="datakit-address-input" style="width:60%" type="text" value="http://10.100.64.166:9529"/>
    <br/>
  </div>

  <!-- Common Fields -->
  <label>
    Demo API Address：
  </label>
  <br/>
  <input id="demo-api-address-input" style="width:60%" type="text" value="http://10.100.64.166:8000"/>
  <br/>
  <label>
    Android App ID：
  </label>
  <br/>
  <input id="demo-android-app-id" style="width:60%" type="text" value="gc_app_android_demo"/>
  <br/>
  <label>
    iOS App ID：
  </label>
  <br/>
  <input id="demo-ios-app-id" style="width:60%" type="text" value="gc_app_ios_demo"/>
  <br/>
  <label>
    Demo Import String: (Copy the text and click the "Clipboard Import" icon in the upper right corner of the "Edit Demo Configuration" page)
  </label>
  <br/>
  <label id="import-string">
  </label>
  <br/>
  <br/>
  <button onclick="copyText()">
   Copy Text
  </button>
  <br/>
  <br/>
  <label>
   Demo Import QRcode: (You can also scan to copy the text via Alipay or WeChat, Alipay recommended)
  </label>
  <br/>
  <div id="qrcode" style="width:100px; height:100px; margin:15px;">
  </div>
  <br/>
  <br/>
  <br/>
  <script type="text/javascript">
   var qrcode = new QRCode(document.getElementById("qrcode"), {
      width: 256,
      height: 256
    });

    function makeCode() {
      const datakitFields = document.getElementById('datakit-fields');
      const datawayFields = document.getElementById('dataway-fields');

      const configType = document.querySelector('input[name="config-type"]:checked').value;

      if (configType === 'datakit') {
        datakitFields.style.display = 'block';
        datawayFields.style.display = 'none';
      } else {
        datakitFields.style.display = 'none';
        datawayFields.style.display = 'block';
      }

      // Get input values
      const datakitAddress = document.getElementById('datakit-address-input').value;
      const datawayAddress = document.getElementById('dataway-address-input').value;
      const datawayClientToken = document.getElementById('dataway-client-token-input').value;
      const demoApiAddress = document.getElementById('demo-api-address-input').value;
      const demoAndroidAppId = document.getElementById('demo-android-app-id').value;
      const demoIosAppId = document.getElementById('demo-ios-app-id').value;

      // Construct JSON object
      let importData;
      if (configType === 'datakit') {
        importData = {
          datakitAddress: datakitAddress,
          demoApiAddress: demoApiAddress,
          demoAndroidAppId: demoAndroidAppId,
          demoIOSAppId: demoIosAppId,
        };
      } else {
        importData = {
          datawayAddress: datawayAddress,
          datawayClientToken: datawayClientToken,
          demoApiAddress: demoApiAddress,
          demoAndroidAppId: demoAndroidAppId,
          demoIOSAppId: demoIosAppId,
        };
      }

      // Convert JSON object to string
      const jsonString = JSON.stringify(importData);

      // Base64 encode the string
      const base64String = btoa(jsonString);

      const invokeString = 'gc-demo://' + base64String;

      // Output to import-string label
      document.getElementById('import-string').innerText = invokeString;

      qrcode.makeCode(invokeString);
    }

    function copyText() {
      const textToCopy = document.getElementById('import-string').innerText;
      const textarea = document.createElement('textarea');
      textarea.value = textToCopy;
      document.body.appendChild(textarea);
      textarea.select();
      document.execCommand('copy');
      document.body.removeChild(textarea);
      alert('Text has been successfully copied to the clipboard!');
    }

    makeCode();

    $("input[name='config-type']").on("change", function() {
      makeCode();
    });

    $("#dataway-client-token-input,#dataway-address-input,#datakit-address-input,#demo-api-address-input,#demo-android-app-id,#demo-ios-app-id").
    on("blur", function() {
      makeCode();
    }).
    on("keydown", function(e) {
      if (e.keyCode == 13) {
        makeCode();
      }
    });
  </script>
 </body>
</html>
